@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
    --main-color: #7b7dfa;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}

.m-r-10{margin-right: 15px;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.menu {
    background-color: rgb(82, 87, 87);
    padding: .4rem;
    color: white;
    border: solid 1px black;
}

.slidebar {
    width: 354px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
    transition: .2s;
}

.slidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: white;
}

.slidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.slidebar-menu {
    margin-top: 1rem;
}

.slidebar-menu li {
    width: 100%;
    padding-left: 1rem;
}

.slidebar-menu li a {
    padding-left: 1rem;
    display: block;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 20px 0 0 20px;
    transition: 0.4s;
}

.slidebar-menu li a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.slidebar-menu li:hover a,
.slidebar-menu a.active1 {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    color: var(--main-color);
    border-radius: 20px 0 0 20px;
}

/* checkbox */
#nav-toggle:checked+ .slidebar{
    width: 70px;   
}
#nav-toggle:checked+ .slidebar .slidebar-brand{
    font-size: 24px;
    padding-left: 1rem;
    width: 70px;
}
#nav-toggle:checked+ .slidebar .menu {
    padding: .4rem;
}
#nav-toggle:checked+ .slidebar .menu b{
    visibility:hidden;
}
#nav-toggle:checked+ .slidebar li{
    width: 70px;
    text-align: center;
    padding-left: 0rem;
}
#nav-toggle:checked+ .slidebar .logo{
    display: none;
}
#nav-toggle:checked+ .slidebar .icon-logo{
    transition: .4s;
}
#nav-toggle:checked+ .slidebar .slidebar-brand h2 span:last-child,
#nav-toggle:checked+ .slidebar li a span:last-child{
    display: none;
}
#nav-toggle:checked ~ .main-content header{
/*     background-color: white; */
    width: calc(100% - 70px);
    left: 70px;
}
#nav-toggle:checked ~ .main-content{
    z-index: 100;
    margin-left: 70px;
}

#nav-toggle:checked ~ .main-content main{
    /* background-color: white; */
    /* width: calc(100% - 70px); */
    /* left: 70px; */

}
.main-content {
    transition: .3s;
    margin-left: 354px;
    z-index: 100;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 354px;
    width: calc(100% - 354px);
    z-index: 100;
    transition: .3s;
}

/* checkbox */
#nav-toggle{
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    cursor: pointer;
    font-size: 1.7rem;
    padding-right: 1rem;
}

.user-wrapper {
    display: flex;
    align-items: center;
}

.user-wrapper img {
    border-radius: 50px;
    margin-right: 1rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
}

main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background-color: #f1f5f9;
    min-height: calc(100vh - 90px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.cards-single {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
}

.cards-single div:last-child span {
    font-size: 2rem;
    color: var(--main-color);
}

.cards-single div:first-child span {
    color: var(--text-grey);
}

/* menu admin */
.nav li:hover .subnav,
.nav li a{
    display: block;
    color: black;
}
.nav{
    position: relative;
}
.subnav{
    width: 140px;
    list-style: none;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin-left: -40px;
}
.nav .subnav a{
    width: 100%;
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #ccc;
    transition: 0.3s;
}
.nav .subnav li:hover{
    background-color:var(--main-color);
}
/* menu admin */
